.nav-container{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    border-bottom: 3px solid #000 ;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;
    top: 10%;
    font-weight: bold;
    margin-top: 1.3rem;
}
.nav-list li:hover{
    text-decoration: underline;
}
.nav-header{
    font-family: var(--header);
  font-weight: 400;
  font-style: normal;
}

