img {
    animation: Move 0.5s infinite forwards;  /* Remove "alternate" */
    animation-timing-function: ease-in;
}
  
  @keyframes Move {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg); /* Rotate to 360 degrees */
    }
  }
  @keyframes stops{
    img{
      animation-play-state: paused;
    }
  }
  img:hover{
    animation: stops;
  }